.tag-container {
  display: inline-flex;
  width: 70%;
  flex-wrap: wrap;
  padding: var(--padding_medium);
  min-height: 20px;
  border: 1px solid var(--gray);
  border-radius: var(--radius_small);
}

.tag-tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tag-tag {
  margin: var(--margin_micro);
  padding: 0 var(--padding_micro);
  display: flex;
  width: auto;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.tag-input {
  height: 40px;
  border: none;
  outline: none;
  cursor: default;
  font-weight: bold;
}