:root {
  --purple: #4207c6;
  --white: #fff;
  --gray: #dcdcdc;
  --black: #000000;
  --primary_color_m: #fffcee;
  --primary_color_s: #44383c;
  --secondary_color_m: #f5c150;
  --secondary_color_s: #f4644c;

  --radius_large: 2em;
  --radius_medium: 1em;
  --radius_small: 0.5em;

  --padding_large: 2em;
  --padding_medium: 1em;
  --padding_small: 0.5em;
  --padding_micro: 0.2em;

  --margin_large: 2em;
  --margin_medium: 1em;
  --margin_small: 0.5em;
  --margin_micro: 0.2em;
}
