<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinsegae.teambti.MemberMapper">

    <select id="loginCnt" parameterType="com.shinsegae.teambti.MemberVO" resultType="int">
		SELECT count(*)
		FROM login
		WHERE id = #{id}
			AND password = #{password}
    </select>
    
    <select id="login" parameterType="com.shinsegae.teambti.MemberVO" resultType="com.shinsegae.teambti.LoginResponseVO">
		SELECT *
		FROM login
		WHERE id = #{id}
			AND password = #{password}
    </select>
    
	<select id="getAll" resultType="com.shinsegae.teambti.MemberResponseVO">
		SELECT e.*, m.`type` as MBTI
		FROM employ e
		LEFT JOIN mbti m on e.m_id = m.m_id
	</select>

	<select id="getEmp" parameterType="int" resultType="com.shinsegae.teambti.MemberResponseVO">
		SELECT e.*, m.`type` as MBTI
		FROM employ e
		LEFT JOIN mbti m ON e.m_id = m.m_id
		WHERE e.e_id = #{e_id};
	</select>

	<update id="setMbti" parameterType="com.shinsegae.teambti.MemberVO">
		UPDATE employ 
		SET m_id = #{m_id}
		WHERE e_id=#{e_id}
	</update>

	<select id="getTag" parameterType="int" resultType="com.shinsegae.teambti.MemberResponseVO">
		SELECT e_id, t_id, content FROM tag
		WHERE e_id = #{id};
	</select>
	
	<insert id="setTag" parameterType="com.shinsegae.teambti.MemberVO" useGeneratedKeys="true" keyProperty="t_id">
		INSERT INTO tag(content, e_id) 
		VALUES (#{content}, #{e_id})
	</insert>

	<select id="getMbti" resultType="com.shinsegae.teambti.MemberResponseVO">
		SELECT * FROM employ
	</select>	
	
	<delete id="deleteTag" parameterType="com.shinsegae.teambti.MemberVO">
		DELETE FROM tag 
		WHERE t_id = #{t_id};
	</delete>
	
	<insert id="setDefaultTag" parameterType="com.shinsegae.teambti.MemberVO" useGeneratedKeys="true" keyProperty="t_id">
		INSERT INTO tag(content, e_id)
		SELECT mt.content, e.e_id FROM mbti_tag mt , employ e 
		WHERE e.e_id = #{e_id} and mt.m_id = e.m_id;
	</insert>
	
</mapper>