@import "./css/variable.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height:100vh;
}

.body-wrapper {
  height:88vh;
  display: flex;
  align-items: center;
  padding:2vh;
}

/* header */
.css-1ab7a8b-MuiPaper-root-MuiAppBar-root {
  /* position:relative;
  z-index: 999; */
  height:8vh;
}

/* progress bar */
.css-8atqhb {
  height:5.3%;
}